<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>438e0858-8620-47e7-a5a4-77b6a9187f3c</string>
	<key>message</key>
	<string>Successfully uploaded file</string>
	<key>path</key>
	<string>/tmp/trimhat.wpdbyI.zip</string>
</dict>
</plist>

